.section-container {
    margin: 2em 0;
    padding: 1em;
  }
  

  .section-container:nth-child(even){
    background-color: var(--bg-white);
    margin: 0%;

  }
  .section-container:nth-child(even) .card-container{
    background-color: var(--bg-light);
  }
  .section-title {
    font-size: var(--fs-xl);
    color: #444;
    text-align: center;
  }
  
  .card-grid {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    justify-content: center; /* Center-align the cards */
    gap: 2em; /* Space between cards */
  }
  .section-description {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 20px;
    text-align: center;
  }
  